* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: grey;
}
body {
  font-family: sans-serif;
  color: white;
  background: rgb(2, 0, 36);
  overflow: hidden;
}

nav {
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
li {
  margin: 0 30px;
  height: 40px;
}
li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
button {
  border: none;
  background-color: transparent;
  font-size: large;
  cursor: pointer;
  height: 100%;
}
header {
  margin: 100px 0;
}
main {
  margin: 0 30px;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 97vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
section {
  display: flex;
  flex-direction: column;
}

article {
  max-width: 600px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

h3.article-title {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(8, 163, 8, 0.377);
}
p {
  font-size: small;
  line-height: 30px;
}
.active {
  background-color: rgba(58, 42, 165, 0.2);
}
#float-button {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: white;
  height: fit-content;
  color: black;
  padding: 10px;
  border-radius: 50%;
  z-index: 20;
}
#buble-up {
  position: relative;
  left: 40%;
  bottom: -5%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  animation: circle-up 6s linear infinite;
}
#buble-down {
  position: relative;
  left: 80%;
  bottom: -15%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  animation: circle-down 6s linear infinite;
}

@keyframes circle-up {
  0% {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}
@keyframes circle-down {
  0% {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
  100% {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
}
